.o-switch .toggle,
.o-switch .toggle::before,
.o-switch .toggle .on,
.o-switch .toggle .off {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.o-switch .toggle {
  position: relative;
  display: block;
  width: auto;
  min-width: 3.75rem;
  height: 1.875rem;
  margin: .3125rem 0;
  background: #666;
  border: 2px solid #666;
}

.o-switch .toggle.rounded, .o-switch .toggle.rounded::before {
  border-radius: 1.625rem;
}

.o-switch .toggle .on,
.o-switch .toggle .off {
  display: none;
  font-weight: bold;
  line-height: 1.625rem;
  color: #fff;
  text-align: left;
  cursor: default;
  opacity: 0;
}

.o-switch .toggle .off {
  display: block;
  text-align: right;
  opacity: 1;
}

.o-switch .toggle::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 1.625rem;
  height: 1.625rem;
  content: "";
  background: #fff;
}

.o-switch .checkbox:focus + .toggle::before {
  outline: 1px dotted #fff;
}

.o-switch .checkbox:checked + .toggle {
  background: #f16e00;
  border-color: #f16e00;
}

.o-switch .checkbox:checked + .toggle .on {
  display: block;
  opacity: 1;
}

.o-switch .checkbox:checked + .toggle .off {
  display: none;
  opacity: 0;
}

.o-switch .checkbox:checked + .toggle::before {
  right: 0;
  left: auto;
}

.o-switch .checkbox.success:checked + .toggle {
  background: #32c832;
  border-color: #32c832;
}

.o-switch .checkbox.success:checked + .toggle .on {
  color: #000;
}

.o-switch .checkbox.success:checked + .toggle .on.icon-checkbox-tick {
  color: #fff;
}

.form-group.row .o-switch .form-control-label.toggle {
  padding: 0 .375rem;
}

.form-group.row .o-switch .form-control-label.toggle.rounded {
  padding: 0 .875rem;
}

.o-switch.btn-group[data-toggle=buttons] {
  border: 2px solid #000;
}

.o-switch.btn-group[data-toggle=buttons] .btn {
  width: 2.5rem;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  border-top: 0;
  border-right: 2px solid #fff;
  border-bottom: 0;
  border-left: 2px solid #fff;
}

.o-switch.btn-group[data-toggle=buttons] .btn:first-child {
  margin-left: -2px;
  border-left-color: #000;
}

.o-switch.btn-group[data-toggle=buttons] .btn:last-child {
  margin-right: -2px;
  border-right-color: #000;
}

.o-switch.btn-group[data-toggle=buttons] .btn.active {
  color: #fff;
  background-color: #000;
  border-right-color: #000;
  border-left-color: #000;
}

.o-switch.btn-group[data-toggle=buttons] .btn.focus {
  outline: 1px dotted #fff;
  outline-offset: -2px;
}

.o-switch.btn-group[data-toggle=buttons] .btn:hover {
  color: #f16e00;
  background-color: #fff;
}

.o-switch.btn-group[data-toggle=buttons] .btn:hover.active {
  color: #fff;
  background-color: #000;
  border-right-color: #000;
  border-left-color: #000;
}

.o-switch.btn-group[data-toggle=buttons].no-outline {
  border-color: transparent;
}

.o-switch.btn-group[data-toggle=buttons].no-outline .btn {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.o-switch.btn-group[data-toggle=buttons].no-outline .btn:first-child {
  border-left-color: transparent;
}

.o-switch.btn-group[data-toggle=buttons].no-outline .btn:last-child {
  border-right-color: transparent;
}

.o-switch.btn-group[data-toggle=buttons].no-outline .btn.active {
  color: #f16e00;
  background-color: #fff;
  border-color: transparent;
  outline-color: #000;
}

.o-switch.btn-group[data-toggle=buttons].no-outline .btn:hover {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.o-switch.btn-group[data-toggle=buttons].no-outline .btn:hover.active {
  color: #f16e00;
  background-color: #fff;
  border-color: transparent;
  outline-color: #000;
}